REACT_APP_REDIRECT_URI=<This will most likely be a local host that you are running the app on locally. Also need to change in AUTH_URL in Login href button>
REACT_APP_CLIENT_ID=<This is your Client ID that can be found in the dashboard on your spotify developer page. Also be advised that the AUTH_URL variable that the login button references also has the Client ID in there, so you will need to change it there as well.>
REACT_APP_CLIENT_SECRET=<This This is your Client Secret that can be found in the dashboard on your spotify developer page>