@use "../../partials/colors" as *;

.header {
    display: flex;
    width: 100%;
    padding-inline: 16px;
    justify-content: space-around;
    align-items: center;
    background-color: $lowlight-color;

    &__logo {
        width: 100px;
    }

    &__nav {
        width: 20%;
    } 

    &__build-link {
        &::before {
            content: url(../../assets/icons/plus-sign-svgrepo-com.svg);
            width: 15px;
            display: inline-block
        }
    }
}

.nav {

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
    }

    &__item {

    }
}

