@use "../../partials/colors" as *;
@use "../../partials/mixins" as *;

.header {
    display: flex;
    width: 100%;
    padding-inline: 15%;
    justify-content: space-between;
    align-items: center;
    background-color: $lowlight-color;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px;

    &--solo {
        justify-content: center;
    }

    @include tablet {
        padding-inline: 9.5%;
    }

    &__logo {
        width: 100px;

        &--center {
            width: 90%;
        }
    }

    &__nav {
        width: 20%;
    } 

    &__build-link {
        &::before {
            content: url(../../assets/icons/plus-sign-svgrepo-com.svg);
            width: 15px;
            display: inline-block
        }
    }
}

.nav {

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
    }

    &__item {

    }
}

