@use "../partials/mixins" as *;
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

h1 {
    font-family: "Patrick Hand", Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 600;

    @include tablet {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

h2 {
    font-family: "Patrick Hand", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;

    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

h3, label, button, li {
    font-family: "Patrick Hand", Arial, Helvetica, sans-serif;
    font-size: 0.813rem;
    line-height: 1.25rem;
    font-weight: 600;

    @include tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}

h4 {
    font-family: "Patrick Hand", Arial, Helvetica, sans-serif;
    font-size: 0.688rem;
    line-height: 1rem;
    font-weight: 600;

    @include tablet {
        font-size: 0.75rem;
        line-height: 1.125rem;
    }
}

p {
    font-family: "Patrick Hand", Arial, Helvetica, sans-serif;
    font-size: 0.813rem;
    line-height: 1.25rem;
    font-weight: 400;

    @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
    }
}