@use "./variables" as *;
@use "./colors" as *;

@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin btn {
  border: 1px solid $primary-color;
  border-radius: 15px;
  padding: 5px 15px;
  background-color: $lowlight-color;
}