@use "../../partials/colors" as *;

input:focus, textarea, input {
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

.search {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__input {
        margin-block: 16px;
        border: 1px solid $primary-color;
        border-radius: 10px;
        padding: 5px;
        width: 81%;
        margin-inline: auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        &:focus { 
            border: 1px solid $primary-color;
        }
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        z-index: 5;
        background-color: #BBBBBB;
        top: 17%;
        justify-content: center;
        opacity: 0.99;
        width: 90%;
        margin: auto;
    }

    &__result {

    }

    &__player {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 5;
    }
}